.buttons {
  display: flex;
  align-items: stretch;
  margin: auto;
  justify-content: space-evenly;
}

.button {
  width: 10vw;
  display: block;
}

.mainContent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow-x: hidden;
}
