.leaderboardRow {
  display: flex;
  justify-content: space-between;
  margin: auto;

  width: 70vw;
}

.buttons {
  display: flex;
  align-items: stretch;
  margin: auto;
  justify-content: space-evenly;
}

.button {
  width: 20vw;
  display: block;
}
