.table {
  margin: auto;
  width: 70vw;

  th {
    border: 1px solid black;
  }
}

.buttons {
  display: flex;
  align-items: stretch;
  margin: auto;
  justify-content: space-evenly;
}

.button {
  width: 20vw;
  display: block;
}
