.logIn {
  margin-top: 30vh;
  h1 {
    text-align: center;
  }
  div {
    display: block;
    margin: auto;
  }
}

.welcome {
  text-align: center;
  button {
    display: block;
    margin: 0 5vw;
    background-color: rgb(86, 188, 138);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    &:hover {
      background-color: rgb(86 * 0.8, 188 * 0.8, 138 * 0.8);
    }
  }
  .buttons {
    display: flex;
    justify-content: center;
  }
}
